<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf Hello World Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Проект Хлам</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <!--<li class="active"><a href="#">Home</a></li>-->
                <!--<li><a href="#about">About</a></li>-->
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="starter-template">
        <div class="text-center">
            <a th:href="@{/setExperience/NO_EXPERIENCE}" class="btn btn-primary">Без опыта</a>
            <a th:href="@{/setExperience/BETWEEN_1_AND_3}" class="btn btn-primary">Опыт 1-3 года</a>
            <a th:href="@{/setExperience/BETWEEN_3_AND_6}" class="btn btn-primary">Опыт 3-6 лет</a>
        </div>
        <div class="text-center">
            <div th:replace="pagination"/>
        </div>

        <h1>Вакансии</h1>
        <h1 th:text="${url}"></h1>
        <table class="table">
            <thead>
            <th>Название</th>
            <th>Город</th>
            <th>Оплата</th>
            <th>Работодатель</th>
            <th>Ссылка</th>
            </thead>
            <tr th:each="vacancies : ${list}">

                <td th:text="${vacancies.vacancyName}"></td>
                <td th:text="${vacancies.vacancyArea}"></td>
                <td th:text="${vacancies.vacancySalary}"></td>
                <td th:text="${vacancies.employer}"></td>
                <td th:text="${vacancies.url}"></td>
            </tr>
        </table>
        <div class="text-center">
            <div th:replace="pagination"/>
        </div>
    </div>

</div>
<!-- /.container -->

<script type="text/javascript"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>